node_modules/
/uploads/
.DS_Store
/thumbnails
secrets.json
/dist
/backups/
/data
/cache
/output
/tests/output
/screenshots
/.local-runtime
/.playwright-cli
/.playwright-mcp
test-results/
playwright-report/
/config.yaml
access.log
.github
.vscode
.git
/public/scripts/extensions/third-party
/colab
.gemini
