@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/webfonts/FredokaOne/FredokaOne-Regular.ttf?v=20260913g') format('truetype');
}
